<link href="http://localhost/PeopleFish/APP/Home/Public/css/common.css"
        rel="stylesheet"></link>
<script type="text/javascript" 
        src="http://localhost/PeopleFish/APP/Home/Public/js/jquery.js" >
</script>
<script> 
$(document).ready(function() {
    $('ul li').click(function() {
        $(this).addClass('clicked');
    });
});   
</script>
<div class="header">
    <div class="wrap_nav">
        <div class="log">
            <a href="http://localhost/PeopleFish/index.php">
                问卷调查
                <span>www.baidu.com</span>
            </a>
        </div>
        <ul>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/naire.html">问卷</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/form.html">表单</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/templet.html">模版库</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/forum.html">论坛</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/help.html">帮助</a>
            </li>
        </ul>
        <div class="entry">
            <div class="">
                Pfish
            </div>
        </div>
    </div>
</div>
