<header>
    <div class="wrap_nav">
        <div class="log">
            <a href="#">
                问卷调查
                <span>www.baidu.com</span>
            </a>
        </div>
        <ul>
            <li><a href="#">问卷</a></li>
            <li><a href="#">表单</a></li>
            <li><a href="#">模版库</a></li>
            <li><a href="#">论坛</a></li>
            <li><a href="#">帮助</a></li>
        </ul>
        <div class="entry">
            <a href="#">登录</a>
            <span>|</span>            
            <a href="http://localhost/PeopleFish/APP/Home/View/Index/register.html">注册</a>
        </div>
    </div>
</header>