<?php 
session_start();
?>
<link href="http://localhost/PeopleFish/APP/Home/Public/css/common.css"
        rel="stylesheet"></link>
<script type="text/javascript" 
        src="http://localhost/PeopleFish/APP/Home/Public/js/jquery.js" >
</script>
<script> 
$(document).ready(function() {
    $('ul li').click(function() {
        $(this).addClass('clicked');
    });
});   
</script>
<header>
    <div class="header">
    <div class="wrap_nav">
        <div class="log">
            <a href="http://localhost/PeopleFish/index.php">
                问卷调查
                <span>www.baidu.com</span>
            </a>
        </div>
        <ul>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/naire.html">问卷</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/form.html">表单</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/templet.html">模版库</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/forum.html">论坛</a>
            </li>
            <li>
                <a href="http://localhost/PeopleFish/index.php/Index/help.html">帮助</a>
            </li>
        </ul>
        <div class="entry">
            <?php 
                if (isset($_SESSION['user_name']) &&
                 !empty($_SESSION['user_name'])) {
            ?>
                <div class="user">
                    <div class="user_cont">
                        <div class="user_tit"><a title="" href="javascript:;">&nbsp;</a></div>
                        <div class="user_box">
                            <div class="username">
                                <div class="username_tit">
                                    <a id="user" title="<?php echo $_SESSION['user_name']?>" href="javascript:;">
                                    <?php echo $_SESSION['user_name']?>
                                    </a>
                                </div>
                                <div class="arrowup">
                                    <div class="arrowup_n"></div>
                                </div>
                            </div>
                            <div class="user_nav">
                                    <div class="nav first"><a href="#">會員中心</a></div>
                                    <div class="nav"><a href="#">會員中心</a></div>
                                    <div class="nav"><a href="#">會員中心</a></div>
                                    <div class="nav last"><a href="http://localhost/PeopleFish/index.php/User/logout.html">退出</a></div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                $(document).bind("click",function(e){ 
                    var target  = $(e.target); 
                    if(target.closest("#user").length == 0){ 
                        $(".user_nav").hide(); 
                        $('.arrowup_n').removeClass('arrowup_y');
                    } 
                    else 
                    { 
                        $(".user_nav").show();
                        $('.arrowup_n').addClass('arrowup_y');
                    } 
                }); 
                </script>
            <?php
                } else {
            ?>
                <div class="entry_c">
                    <a href="http://localhost/PeopleFish/index.php/Index/login.html">登录</a>
                    <span>|</span>            
                    <a href="http://localhost/PeopleFish/index.php/Index/register.html">注册</a>
                </div>
            <?php
                }
            ?>
        </div>
    </div>
    </div>
</header>
