*{margin:0;padding:0;}
body {
    color: #666;
    font-size: 14px;
    line-height: 1.4;
    margin: auto;
}
/*header*/
header {
    color: #A2B2A5;
    background: none repeat scroll 0% 0% #1C658B;
}
.header {
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
.wrap_nav {
    width: 1000px;   
    margin: 0 auto;
    overflow: hidden;
}
.wrap_nav .log, .wrap_nav ul {
    float: left;
}
.wrap_nav .entry {
    float: right;
}
.wrap_nav .log {
    
}
.wrap_nav .log a, .wrap_nav .log a span {
    color: #A2B2A5;
    width: 190px;
    text-align: center;
    float: left;
}
.wrap_nav .log a:hover, .wrap_nav .log a span:hover {
    color: #DBDBDB;
}
.wrap_nav .log a {
    float: left;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    height: 70px;
    line-height: 70px;
    position: relative;
    letter-spacing: -2px;
}
.wrap_nav .log a span {
    position: absolute;
    font-style: italic;
    top: 38px;
    left: 0px;
    font-weight: normal;
    text-decoration: underline;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
}
.wrap_nav ul {
    overflow: hidden;
    float: left;
}
.wrap_nav ul, .wrap_nav li {
    list-style: none;
    float: left;
}
.wrap_nav li {
    height: 70px;
    line-height: 70px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background: #1C658B;
    border-left: 2px solid #1C658B;
}
.wrap_nav li:hover {
    border-left: 2px solid #ccc;
    background: #eee;
}
.wrap_nav .clicked {
    background: red;
}

.wrap_nav li a{
    float: left;
    width: 100px;
    text-decoration: none;
    color: #ccc;
}
.wrap_nav li a:hover {
    color: #888;
}

.wrap_nav .entry {
    font-weight: bold;
}
.wrap_nav .entry .entry_c {
    height: 70px;
    line-height: 70px;
}
.wrap_nav .entry a {
    color: #A2B2A5;
    text-decoration: none;
}
.wrap_nav .entry a:hover{
    color: #fff;
}
/*header End*/

/*footer Start*/
footer {

}
.footer {
    background: #BCBCBC;
    border-top: 2px dashed #CCC;
}
.footc {
    margin: auto;
    width: 1000px;
}
.footc .c_cont {
    margin: 20px 0px;
    overflow: hidden;
    border-bottom: 1px solid #123456;
    border-bottom-right-radius: 20px;
}
.footc .c_cont .ctit, .footc .c_cont .ctext {
    float: left;
}
.footc .c_cont .ctit {
    font-style: italic;
    text-align: center;
}
.footc .c_cont .ctit a {
    text-decoration: none;
}
.footc .c_cont .ctit a span {
    display: block;
}
.footc .c_cont .ctext {
    margin-left: 25px;
    margin-bottom: 5px;
    font-weight: normal;
}
/*footer End*/
/*user Start*/
.user {
    z-index: 0;
}
.user_cont {
    overflow: hidden;
    height: 70px;
    line-height: 70px;
}
.user_cont .user_tit {
    text-align: center;
    font-size: 12px;
    float: left;
    margin-right: 10px;
}
.user_cont .user_tit a {
    background:url(http://localhost/PeopleFish/APP/Home/Public/img/index_logo_other.png) no-repeat;
    padding: 0px 8px;
}
.user_cont .user_box {
  float: left;
}
.user_cont .user_box .username {
    float: right;
    overflow: hidden;
}
.user_cont .user_box .username .username_tit, .user_cont .user_box .username .arrowup {
    float: left;
}
.user_cont .user_box .username .arrowup {
    margin-bottom: 0px;
}
.user_cont .user_box .username .arrowup_n {
    margin: 35px 10px;
    border-width: 5px 5px 0px;
    border-style: solid dashed dashed;
    height: 0px;
    width: 0px;
    z-index: 1;
    padding: 0px !important;
    border-color: #A2B2A5 transparent transparent;
    color: inherit;
    font: 0px/9999px serif;
}

.user_cont .user_box .username .arrowup_y {
    border-style: dashed dashed solid;
    border-width: 0px 5px 5px;
    border-color: transparent transparent #A2B2A5;
}
.user_cont .user_box .user_nav {
    display: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    position: absolute;
    top: 55px;
    right: 0px;
    z-index: 2;
}
.user_cont .user_box .user_nav .nav {
    border-bottom: 1px solid #A2B2A5;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-weight: normal;
}
.user_cont .user_box .user_nav .nav a {
    float: left;
    width: 90px;
}
.user_cont .user_box .user_nav .nav:hover {
    background: #4C9ED9;
    padding: 0px;
}
.user_cont .user_box .user_nav .first:hover {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.user_cont .user_box .user_nav .last:hover {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/*user End*/