
/******头部广告*****/
.topAd {z-index: 0;
    border: 1px solid red;
    margin: auto;
    text-align: center;
    width: 1000px;
    height: 0px;
    overflow:hidden;
    display: none;
    position: relative;
}
.topAdImg {
    margin: auto;
    float: left;
}
#closeBtn {
    border: 1px solid red;
    width: 16px;
    height: 16px;
    background: green;
    position: absolute;;
    top: 0px;
    right: 0px;
    display: none;
}

/*Content Start*/
.Content {
    background: #CBCBCA;
}
.imgbox {
    background: url(http://localhost/PeopleFish/APP/Home/Public/img/bg.jpg) no-repeat;
}
.imgbox_n {
    margin: auto;
    width: 1000px;
    height: 317px;
}

.survey {
    margin: auto;
    width: 1000px;
    border: 1px solid red;
    overflow: hidden;
}
.su_box {
    float: left;
    margin: 25px 25px;
    width: 450px;
}
.su_dc {
    border: 1px solid red;
    padding: 15px 5px;
    background: #CCCC00;
}
.su_left {
    border-bottom-right-radius: 25px;
}
.su_right {
    border-bottom-left-radius: 25px;
}
.su_head {
    height: 25px;
    line-height: 25px;
    border-bottom: 2px dashed #666;
}
.su_head a {
    text-decoration: none;
}
.su_content {
    overflow: hidden;;
    padding: 15px 5px; 
}
.su_img, .su_text {
    float: left;
    border: 1px solid red;
}

/*navbox*/
.navbox {
    border: 1px solid red;
    background: #FFF;
}
.navtit {
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navtit-l {
    float: left;
}
.navtit-r {
    float: right;
}
.navtit-l, .navtit-r {
    width: 460px;
    border: 1px solid red;
    padding: 10px 10px;
    background: #FFF;
}
.navtit h2 {

}
.navtit p {

}
.navtit img {
    width: 60px;
    height: 60px;
}

/*ccontent End*/

