<!DOCTYPE html>
<html>
<head>
    <title>登录页面</title>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type"></meta>
    <link href="http://localhost/peopleFish/App/Home/Public/css/Index/index.css"
        rel="stylesheet"></link>
    <link href="http://localhost/peopleFish/App/Home/Public/css/Index/register.css"
        rel="stylesheet"></link>
</head>

<body>
<header>
    <div class="wrap_nav">
        <div class="log">
            <a href="#">
                网上问卷调查
                <span>www.baidu.com</span>
            </a>
        </div>
</header>

<!--中间部分-->
<div class="register">
    <div class="regbox">
        <h1>登录问卷网</h1>
        <form action="#" method="post"  autocomplete="off">
            <div class="inp error">错误信息提示</div>
            <div class="inp">
                <span class="nameIco">用户名：</span><input type="text" name="userName" autocomplete="off" 
                    placeholder="邮箱/用户名/手机号"/>
            </div>
            <div class="inp">
                <span class="passIco">密&nbsp;码：</span><input type="password" name="passNord" 
                autocomplete="off" placeholder="输入密码"/>
            </div>
            <div class="submit">
                <input type="submit" name="rePass" value="登录"/>
            </div>
        </form>
        <div class="third-part">
            <h3>第三方账户登录</h3>
            <a href="#" class="github" title="github"></a>
            <a href="#" class="google" title="google"></a>
            <a href="#" class="qq" title="qq"></a>
            <a href="#" class="baidu" title="baidu"></a>            
            <a href="#" class="linkin" title="linkin"></a>
            <a href="#" class="sina" title="sine"></a>
        </div>
    </div>
    <div class="logBox">
        <h2>还没有问卷账户，马上去注册</h2>
        <div class="logcontent">
            <a href="">注册</a>
        </div>
    </div>
</div>
<footer>
版权所有
</footer>

</body>
</html>
