<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="http://localhost/PeopleFish/Admin/Home/Public/css/index.css" rel="stylesheet">
</head>
<body>
<header>
	<div class="header">
		<div class="h-t">
			<div class="l">
				Jabaru Admin
			</div>
			<div class="r">
				<a href="">Account</a><span>|</span>
				<a href="">Message(0)</a><span>|</span>
				<a href="">Logout</a><span>|</span>
				<a href="">View Site</a>
			</div>
		</div>
		<div class="h-m"></div>
		<div class="h-b"></div>
	</div>
</header>
	
</body>
</html>