<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="http://localhost/PeopleFish/Admin/Home/Public/css/right.css" rel="stylesheet">
</head>
<body>
<div class="right">
	
	<!--rconts Start-->
	<div class="rconts">
		<div class="rcont-box">
			<div class="rtit">
				<div class="titr">
					Products
				</div>
				<div class="titl">
					<div class="search">
						<input type="text" name="search" value="" />
						<input type="submit" value="Search"/>
					</div>
				</div>
			</div>
			<div class="rcont">

			</div>
		</div>
	</div>
	<!--rconts End-->

	<!--rconts Start-->
	<div class="rconts">
		<div class="rcont-box">
			<div class="rtit">
				<div class="titr">
					Products
				</div>
				<div class="titl">
					<div class="search">
						<input type="text" name="search" value="" />
						<input type="submit" value="Search"/>
					</div>
				</div>
			</div>
			<div class="rcont">
				<div class="table" >
					<table>
						<tr>
							<th class="tf">Title</th>
							<th>23.Led</th>
							<th>23.Led</th>
							<th>23.LedLedLedLedLedLedLed</th>
							<th>23.Led</th>
							<th class="tl">
								<input type="checkbox" name="" value=""/>
							</th>
						</tr>
						<tr>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td class="tl">
								<input type="checkbox" name="" value=""/>
							</td>
						</tr>
						<tr>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td class="tl">
								<input type="checkbox" name="" value=""/>
							</td>
							<tr>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td class="tl">
								<input type="checkbox" name="" value=""/>
							</td>
							<tr>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td>ddd</td>
							<td class="tl">
								<input type="checkbox" name="" value=""/>
							</td>
						</tr>
					</table>
					<div class="show">
						<div class="showl">
							show results 1-17 for 207
						</div>

						<div class="showr">
							<span class="out"><a href=""><< prev</a></span>
							<span class="in"><a href="">1</a></span>
							<span><a href="">2</a></span>
							<span><a href="">3</a></span>
							<span><a href="">...</a></span>
							<span><a href="">21</a></span>
							<span><a href="">20</a></span>
							<span><a href="">next >></a></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--rconts End-->

	<div class="rconts">
		<div class="rcont-box">
			<div class="rtit">
				<div class="titr">
					Products
				</div>
				<div class="titl">
					Message
				</div>
			</div>
			<div class="rcont">
				<div class="error">
					<div class="error-img"></div>
					<div class="error-text">
						<h5>Error Message</h5>
						<p>This is the error message.</p>
					</div>
					<div class="error-button"></div>
				</div>

				<div class="warn">
					<div class="warn-img"></div>
					<div class="warn-text">
						<h5>Error warn</h5>
						<p>This is the Warning message.</p>
					</div>
					<div class="warn-button"></div>
				</div>

				<div class="notice">
					<div class="notice-img"></div>
					<div class="notice-text">
						<h5>Notice Message</h5>
						<p>This is the notice message.</p>
					</div>
					<div class="notice-button"></div>
				</div>

				<div class="success">
					<div class="success-img"></div>
					<div class="success-text">
						<h5>Success Message</h5>
						<p>This is the success message.</p>
					</div>
					<div class="success-button"></div>
				</div>
			</div>
		</div>
	</div>

	<!--rconts Start-->
	<div class="rconts">
		<div class="rcont-box">
			<div class="rtit">
				<div class="titr">
					Forms
				</div>
			</div>
			<div class="rcont">
				<div class="form">
					<form action="#">
						<fieldset>
	
							<!--Small Input Start-->
							<div class="input-cont">
								<span>Small Input:</span>
								<input type="text" name="small" value="" />
								<input type="submit" name="" value="Submit Empathized" />
							</div>
							<!--Small Input End-->
							<div class="clearfix"></div>	
							<!--Medium Input Start-->
							<div class="input-cont">
								<span>Medium Input:</span>
								<input type="text" name="medium" value="" />
							</div>
							<!--Medium Input Start-->
							<div class="clearfix"></div>
							<!--Large Input Start-->
							<div class="input-cont">
								<span>Large Input:</span>
								<input type="text" name="large" value="" />
							</div>
							<!--Large Input Start-->
							<div class="clearfix"></div>				
						</fieldset>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!--rconts End-->
</div>
</body>
</html>