<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link href="http://localhost/PeopleFish/APP/Home/Public/css/Admin/left.css" rel="stylesheet">
</head>
<body>
<div class="left">
	<div class="lbox">
		<div class="lcont">
			<div class="lnav">
				<div class="ltit">
					Products
				</div>
				<div class="lsub">
					<ul>
						<li><span>></span><a href="">Manage Products</a></li>
						<li><span>+</span><a href="">Manage Products</a></li>
						<li><span>-</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="lcont lconted">Link
			<div class="lnav lnaved">
				<div class="ltit">
					Products
				</div>
				<div class="lsub">
					<ul>
						<li><span>></span><a href="">Manage Products</a></li>
						<li><span class="sty">+</span><a href="">Manage Products</a></li>
						<li><span>-</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
						<li><span>&nbsp;</span><a href="">Manage Products</a></li>
					</ul>
				</div>
			</div>
		</div>		
	</div>
</div>
	
</body>
</html>