<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<frameset rows="110,*,30" border="0">
	<frame src="Common/top.html" scrolling="no" noresize="noresize" />
    
	<frameset cols="240,*">
		<frame src="Common/left.html" name="left" scrolling="no" noresize="noresize" />
		<frame src="Common/right.html" name="changxiang" scrolling="yes" scrolling-x="no" />
	</frameset>
    
    <frame src="Common/foot.html" scrolling="no" noresize="noresize" />
</frameset>
<noframes>本网页使用了框架，您的浏览器不支持!</noframes>
</html>