<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jabaru——后台管理</title>
	<link href="http://localhost/peopleFish/Admin/Home/Public/css/login.css"
        rel="stylesheet"></link>
</head>
<body>
<div class="ch-container">
	<!--login-header-->
	<div class="row">
		<div class="row">
			<div class="login-header">
				<h2>Welcome to Jabaru</h2>
			</div>
		</div>
	</div>
	
	<!--login-box-->
	<div class="row">
		<div class="login-box">
			<div class="alert">
				Please login with your Username and Password.
			</div>
			<form action="#" method="post">
				<fieldset>
					<div class="input-group">
						<span></span>
						<input type="text" placeholder="Username" />
					</div>
					<div class="clearfix"></div>
					<div class="input-group">
						<span></span>
						<input type="password" placeholder="Password" />
					</div>
					<div class="input-prepend">
                        <label class="remember" for="remember"><input type="checkbox" id="remember">
                        	Remember me
                        </label>
                    </div>
				</fieldset>
			</form>
		</div>
	</div>
</div>	
</body>
</html>